.calendarauto{
    font-weight: 700;
    font-size: 24px;
    line-height: 43.88px;
    font-style: normal; 
    color:black; 
    margin-top: 22px;
    margin-left: 96px;  
    }

    /* js dalys randasi calendarauto.js */